<div class="container">
  <h1 class="form-title">Service Request Form</h1>
  <form nz-form [formGroup]="serviceRequestForm" (ngSubmit)="onSubmit()"> 
    <div nz-row nzGutter="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzRequired]="true">Request Info</nz-form-label>
          <nz-form-control [nzValidateStatus]="serviceRequestForm.get('requestInfo')"
            [nzErrorTip]="'Request Info is required'">
            <input nz-input formControlName="requestInfo" placeholder="Enter your Request Info" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzRequired]="true">Description</nz-form-label>
          <nz-form-control [nzValidateStatus]="serviceRequestForm.get('description')"
            [nzErrorTip]="'Description is required'">
            <input nz-input formControlName="description" placeholder="Enter your Description" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div> 
    <div nz-row nzGutter="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzRequired]="true">Name</nz-form-label>
          <nz-form-control [nzValidateStatus]="serviceRequestForm.get('name')" [nzErrorTip]="'Name is required'">
            <input nz-input formControlName="name" placeholder="Enter your name" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzRequired]="true">Address Line 1</nz-form-label>
          <nz-form-control [nzValidateStatus]="serviceRequestForm.get('address1')"
            [nzErrorTip]="'Address 1 is required'">
            <input nz-input formControlName="address1" placeholder="Enter your Address Line 1" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div> 
    <div nz-row nzGutter="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzRequired]="true">Address Line 2</nz-form-label>
          <nz-form-control [nzValidateStatus]="serviceRequestForm.get('address2')"
            [nzErrorTip]="'Address 2 is required'">
            <input nz-input formControlName="address2" placeholder="Enter your Address Line 2" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzRequired]="true">City</nz-form-label>
          <nz-form-control [nzValidateStatus]="serviceRequestForm.get('city')" [nzErrorTip]="'City is required'">
            <input nz-input formControlName="city" placeholder="Enter your city name" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div> 
    <div nz-row nzGutter="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzRequired]="true">State</nz-form-label>
          <nz-form-control [nzValidateStatus]="serviceRequestForm.get('state')" [nzErrorTip]="'State is required'">
            <input nz-input formControlName="state" placeholder="Enter your State" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzRequired]="true">Zip Code</nz-form-label>
          <nz-form-control [nzValidateStatus]="serviceRequestForm.get('zip')" [nzErrorTip]="'Zip is required'">
            <input nz-input formControlName="zip" placeholder="Enter your zip" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div> 
    <div nz-row nzGutter="16">
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzRequired]="true">Email</nz-form-label>
          <nz-form-control [nzValidateStatus]="serviceRequestForm.get('email')"
            [nzErrorTip]="serviceRequestForm.get('email')?.hasError('email') ? 'Invalid email address' : 'Email is required'">
            <input nz-input formControlName="email" placeholder="Enter your email" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzRequired]="true">Mobile no.</nz-form-label>
          <nz-form-control [nzValidateStatus]="serviceRequestForm.get('mobile')"
            [nzErrorTip]="'Mobile no. is required'">
            <input nz-input formControlName="mobile" placeholder="Enter your mobile no." />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzRequired]="true">Date</nz-form-label>
          <nz-form-control [nzValidateStatus]="serviceRequestForm.get('date')" [nzErrorTip]="'Date is required'">
            <nz-date-picker formControlName="date" nzFormat="dd-MM-yyyy" [nzDisabledDate]="disablePastDates"
              placeholder="Select a date">
            </nz-date-picker> </nz-form-control>
        </nz-form-item>
      </div>
    </div> 
    <div nz-row nzJustify="end" class="buttons-row">
      <div nz-col>
        <button nz-button [nzType]="'primary'" [disabled]="isLoading" [nzLoading]="isLoading">
          Submit
        </button>
        <button nz-button [nzType]="'default'" (click)="serviceRequestForm.reset()">
          Reset
        </button>
      </div>
    </div>
  </form>
</div>