<div class="bg">
    <div class="parent">
        <div class="child">
            <div nz-col>
                <h1 style="margin-left: 55px;">Client SignUp</h1>
            </div>

            <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid E-mail!">
                        <input nz-input placeholder="E-mail" formControlName="email" id="cpage" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid password!">
                        <input nz-input type="password" placeholder="Password" formControlName="password" id="cpage" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid password!">
                        <input nz-input type="password" placeholder="Confirm Password" formControlName="checkPassword" id="cpage" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid name!">
                        <input nz-input placeholder="Name" formControlName="name" id="cpage" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid lastname!">
                        <input nz-input placeholder="LastName" formControlName="lastname" id="cpage" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzHasFeedback nzErrorTip="The input is not valid phone!">
                        <input nz-input placeholder="Phone" formControlName="phone" id="cpage" />
                    </nz-form-control>
                </nz-form-item>

                <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'"> Register </button>
                Have an account? <a routerLink="/login"> login now! </a>
            </form>
        </div>
    </div>
</div>